.button {
  width: 100%;
  padding: 10px;
  background: var(--accent-color);
  color: var(--text-color);

  font-weight: 600;
  font-size: 15px;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.15s ease;

  &:hover {
    filter: brightness(1.06);
  }

  &:active {
    filter: brightness(0.95);
  }

  &--primary {
    background: var(--accent-color);
    color: white;
  }
}

/* Variants */
