.container {
  border-radius: 8px;
  height: 100px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  .name {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
  }
}
