.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.12);
  color: var(--text-color);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 32px;
  overflow: hidden;
  cursor: pointer;
  .left {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
