@use '../../styles/index.scss';

.pill {
  display: inline-block;
  border-radius: 100px;
  padding: 4px 12px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  line-height: 12px;
  @extend .overline;
}
