@import './variables';

body.light {
  --bg-color: #{$light-bg};
  --sidebar-bg: #{$light-sidebar};
  --sidebar-active: #{$light-sidebar-active};
  --text-color: #{$light-text};
  --accent-color: #{$light-accent};
  --hover-color: #{$light-hover};
}

body.dark {
  --bg-color: #{$dark-bg};
  --sidebar-bg: #{$dark-sidebar};
  --sidebar-active: #{$dark-sidebar-active};
  --text-color: #{$dark-text};
  --accent-color: #{$dark-accent};
  --hover-color: #{$dark-hover};
}
