@use '../../styles/index';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 280px;
  height: 100%;
  background-color: var(--surface-menu);
  padding: 12px;
  border-radius: 12px;
  overflow: hidden;
  .row {
    .label {
      @extend .overline;
      margin-bottom: 4px;
    }
  }
  .tagsGroup {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
  }
}
