@use '../../styles/index.scss';

.tag {
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--hover);
  padding: 4px 12px;
  cursor: pointer;
  transition: 0.15s ease;

  &:hover {
    background-color: var(--hover);
  }
  .text {
    @extend .overline;
  }
  .delete {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    margin-right: -8px;
    border-radius: 100%;
    transition: 0.15s ease;
    &:hover {
      background-color: rgba($color: #333, $alpha: 0.5);
    }
  }
}
